@model IEnumerable<Blogbaster.Core.Data.Entities.Category>

@{
    ViewBag.Title = "Index";
}
@Html.Partial("_MenuPartial")
<div class="jumbotron">
    @Html.ActionLink("Пости", "Index", "Posts", null, new { @class = "btn btn-primary" })
</div>
<div class="jumbotron">
    <p>
        @Html.ActionLink("Нова", "Create", null, new { @class = "btn btn-success" })
    </p>

    <table class="table">
        <tr>
            <th>
                Категорії
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Редагувати", "Edit", new { id = item.Id }, new { @class="btn btn-primary" })
                    @Html.ActionLink("Видалити", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>
