<div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 10px">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index","Home")">
                <img src="~/Content/Images/General/logo.png" style="width: 30px; height: 30px; margin-top: -40px; margin-right: 10px" />
            </a>
            <div style="display: inline-block">
                @Html.ActionLink("Article For Every One", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Оголошення", "ArticlesPage", "Articles")</li>
                @if (Request.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Створити нове", "Create", "Articles")</li>
                }
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <li>@Html.ActionLink("Адміністрування", "Index", "Articles")</li>
                }
                <li>@Html.ActionLink("Про нас", "About", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
