@model GundiakProject.DomainModels.Article

@{
    ViewBag.Title = Model.Title;
}
@Html.Partial("_MenuPartial")
<h2>Details</h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <span>Image</span>
        </dt>

        <dd>
            @Html.Raw("<img style='width:200px; height:200px;' src=\"data:image/jpeg;base64,"
                   + Convert.ToBase64String(Model.Image) + "\" />")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
