@using GundiakProject.Enums
@model IEnumerable<GundiakProject.DomainModels.Article>

@{
    ViewBag.Title = "Оголошення";
}
@Html.Partial("_MenuPartial")
<div class="jumbotron article" style="overflow: auto">
    <table class="table">
        <tr>
            <th>
                <span>Автор</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <span>Зображення</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
            <th></th>
            <th>
            </th>
        </tr>

        @foreach (var article in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => article.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.Title)
                </td>
                <td>
                    @Html.Raw("<img style='width:50px; height:50px;' src=\"data:image/jpeg;base64,"
                                                    + Convert.ToBase64String(article.Image) + "\" />")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.DateCreated)
                </td>
                <td>
                    @Html.ActionLink("Деталі", "Details", new { id = article.Id }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @Html.ActionLink("Видалити", "Delete", new { id = article.Id }, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @if (article.Status == Status.Published)
                    {
                        <label class="container-c">
                            <input type="checkbox" class="publish" checked id="@article.Id" />
                            <span class="checkmark"></span>
                        </label>
                    }
                    else
                    {
                        <label class="container-c">
                            <input type="checkbox" class="publish" id="@article.Id" />
                            <span class="checkmark"></span>
                        </label>
                    }
                </td>
            </tr>
        }

    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".publish").on("click", function() {
                Publish($(this).attr("id"));
            });
        });

        function Publish(articleId) {
            if ($(window).data('ajaxready') === false)
                return;
            SpinnerHelper.showSpinner();
            $(window).data('ajaxready', false);
            $.ajax({
                url: '@Url.Action("Publish", "Articles")',
                type: "POST",
                data: {
                    articleId: articleId
                },
                dataType: 'html',
                success: function (data) {
                    SpinnerHelper.hideSpinner();
                    $(window).data('ajaxready', true);
                }
            });
        }
    </script>
}