@using GundiakProject.Enums
@model IEnumerable<GundiakProject.DomainModels.Article>

@{
    ViewBag.Title = "Оголошення";
}
@Html.Partial("_MenuPartial")
<div class="jumbotron article">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                <span>Image</span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>

        @foreach (var article in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => article.ApplicationUser.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.Title)
                </td>
                <td>
                    @Html.Raw("<img style='width:50px; height:50px;' src=\"data:image/jpeg;base64,"
                                   + Convert.ToBase64String(article.Image) + "\" />")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.DateCreated)
                </td>
                <td>
                    <span id="@article.Id"> "@article.Status" </span>
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = article.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = article.Id }, new { @class = "btn btn-danger" })
                    @if (article.Status == Status.Published)
                    {
                        <input type="checkbox" class="publish" checked id="@article.Id" />
                    }
                    else
                    {
                        <input type="checkbox" class="publish" id="@article.Id" />
                    }
                </td>
            </tr>
        }

    </table>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $(".publish").on("click", function() {
                Publish($(this).attr("id"));
            });
        });
        
        function Publish(articleId) {
            $.ajax({
                url: '@Url.Action("Publish", "Articles")',
                type: "POST",
                data: {
                    articleId: articleId
                },
                dataType: 'html',
                success: function (data) {
                    $("#" + articleId).text(data);
                }
            });
        }
    </script>
}