@model IEnumerable<Blogbaster.Core.Data.Entities.Article>
@foreach (var article in Model)
{
    <a href="/Articles/Details/@article.Id">
        <div class="jumbotron article hovered-article" data-append="true">
            <div class="row">
                <div class="col-md-3">
                    @Html.Raw("<img style='width:200px; height:200px;' src=\"data:image/jpeg;base64,"
                              + Convert.ToBase64String(article.Image) + "\" />")
                    <span>Опубліковано: @article.DatePublished.Value.ToShortDateString()</span>

                </div>
                <div class="col-md-9">
                    @if (article.Title.Length > 50)
                    {
                        <h1 style="margin-top: 0;">@article.Title.Substring(0, 50)...</h1>
                    }
                    else
                    {
                        <h1 style="margin-top: 0;">@article.Title</h1>
                    }
                    <p class="lead">Автор - @article.ApplicationUser.UserName</p>
                    <hr class="articlehr"/>
                    @if (article.Text != null && article.Text.Length > 100)
                    {
                        <p class="lead">@article.Text.Substring(0, 100)...</p>
                    }
                    else
                    {
                        <p class="lead">@article.Text</p>
                    }
                </div>
            </div>
        </div>
    </a>
}
